@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Roboto Font */
}
body{
  min-height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background:#f6f8f9;
  width: 20rem;
  padding: 2rem;
  margin-top: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0px 15px 5px  rgba(255, 255, 255, .5);
}
.screen{
  height: 4rem;
  margin-bottom: 4rem;
  text-align: right;
}
.buttonBox{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1rem;
}
.button{
  background: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
  box-shadow: 0 2px 10px   black;
  transition: all .5s ease;
}
.button:hover{
  border: 2px dotted #242424;
}
.equals{
  background: #4bd086;
  grid-column: 3/5;
}
.opt{
  background: #f79505;
}
.button:active{
  box-shadow: none;
}
.clear{
  color: #f79505;
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .wrapper{
    margin-top:1rem;
    backdrop-filter: blur(180px);
  }
  .button:hover{
    border: none;
  }
}